![Hand with calculator](calculator.jpg)

Did you know that the average return from investing in stocks is [10% per year](https://www.nerdwallet.com/article/investing/average-stock-market-return) (not accounting for inflation)? But who wants to be average?! 

You have been asked to support an investment firm by analyzing trends in high-growth companies. They are interested in understanding which industries are producing the highest valuations and the rate at which new high-value companies are emerging. Providing them with this information gives them a competitive insight as to industry trends and how they should structure their portfolio looking forward.

You have been given access to their `unicorns` database, which contains the following tables:

## dates
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| `company_id`   | A unique ID for the company.                 |
| `date_joined` | The date that the company became a unicorn.  |
| `year_founded` | The year that the company was founded.       |

## funding
| Column           | Description                                  |
|----------------- |--------------------------------------------- |
| `company_id`       | A unique ID for the company.                 |
| `valuation`        | Company value in US dollars.                 |
| `funding`          | The amount of funding raised in US dollars.  |
| `select_investors` | A list of key investors in the company.      |

## industries
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| `company_id`   | A unique ID for the company.                 |
| `industry`     | The industry that the company operates in.   |

## companies
| Column       | Description                                       |
|------------- |-------------------------------------------------- |
| `company_id`   | A unique ID for the company.                      |
| `company`      | The name of the company.                          |
| `city`         | The city where the company is headquartered.      |
| `country`      | The country where the company is headquartered.   |
| `continent`    | The continent where the company is headquartered. |

# The output

Your query should return a table in the following format:
| industry  | year | num\_unicorns       | average\_valuation\_billions |
| --------- | ---- | ------------------- | ---------------------------- |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |

Where `industry1`, `industry2`, and `industry3` are the three top-performing industries.

In [65]:
WITH unicorns_with_year AS (
  SELECT
    d.company_id,
    i.industry,
    EXTRACT(YEAR FROM d.date_joined) AS year,
    f.valuation
  FROM dates d
  JOIN industries i ON d.company_id = i.company_id
  JOIN funding f ON d.company_id = f.company_id
  WHERE EXTRACT(YEAR FROM d.date_joined) BETWEEN 2019 AND 2021
),

top_industries AS (
  SELECT
    industry,
    COUNT(*) AS total_unicorns
  FROM unicorns_with_year
  GROUP BY industry
  ORDER BY total_unicorns DESC
  LIMIT 3
)

SELECT
  u.industry,
  u.year,
  COUNT(*) AS num_unicorns,
  ROUND(AVG(u.valuation) / 1000000000, 2) AS average_valuation_billions
FROM unicorns_with_year u
JOIN top_industries t ON u.industry = t.industry
GROUP BY u.industry, u.year
ORDER BY u.year DESC, num_unicorns DESC;
WITH unicorns_with_year AS (
  SELECT
    d.company_id,
    i.industry,
    EXTRACT(YEAR FROM d.date_joined) AS year,
    f.valuation
  FROM dates d
  JOIN industries i ON d.company_id = i.company_id
  JOIN funding f ON d.company_id = f.company_id
  WHERE EXTRACT(YEAR FROM d.date_joined) BETWEEN 2019 AND 2021
),

top_industries AS (
  SELECT
    industry,
    COUNT(*) AS total_unicorns
  FROM unicorns_with_year
  GROUP BY industry
  ORDER BY total_unicorns DESC
  LIMIT 3
)

SELECT
  u.industry,
  u.year,
  COUNT(*) AS num_unicorns,
  ROUND(AVG(u.valuation) / 1000000000, 2) AS average_valuation_billions
FROM unicorns_with_year u
JOIN top_industries t ON u.industry = t.industry
GROUP BY u.industry, u.year
ORDER BY u.year DESC, num_unicorns DESC;

                          industry  ...  average_valuation_billions
0                          Fintech  ...                        2.75
1     Internet software & services  ...                        2.15
2  E-commerce & direct-to-consumer  ...                        2.47
3     Internet software & services  ...                        4.35
4  E-commerce & direct-to-consumer  ...                        4.00
5                          Fintech  ...                        4.33
6                          Fintech  ...                        6.80
7     Internet software & services  ...                        4.23
8  E-commerce & direct-to-consumer  ...                        2.58

[9 rows x 4 columns]

In [66]:
WITH unicorns AS (
  SELECT
    d.company_id,
    i.industry,
    DATE_PART('year', d.date_joined) AS year,
    f.valuation
  FROM dates d
  JOIN industries i ON d.company_id = i.company_id
  JOIN funding f ON d.company_id = f.company_id
  WHERE DATE_PART('year', d.date_joined) BETWEEN 2019 AND 2021
),

top_industries AS (
  SELECT
    industry
  FROM unicorns
  GROUP BY industry
  ORDER BY COUNT(*) DESC
  LIMIT 3
)

SELECT
  u.industry,
  u.year,
  COUNT(*) AS num_unicorns,
  ROUND(AVG(u.valuation) / 1000000000, 2) AS average_valuation_billions
FROM unicorns u
JOIN top_industries t ON u.industry = t.industry
GROUP BY u.industry, u.year
ORDER BY u.year DESC, num_unicorns DESC;

                          industry  ...  average_valuation_billions
0                          Fintech  ...                        2.75
1     Internet software & services  ...                        2.15
2  E-commerce & direct-to-consumer  ...                        2.47
3     Internet software & services  ...                        4.35
4  E-commerce & direct-to-consumer  ...                        4.00
5                          Fintech  ...                        4.33
6                          Fintech  ...                        6.80
7     Internet software & services  ...                        4.23
8  E-commerce & direct-to-consumer  ...                        2.58

[9 rows x 4 columns]